@font-face {
  font-family: AvenirHeavy;
  src: url(../Avenir/Avenir-Heavy.otf);
}
@font-face {
  font-family: AvenirBlack;
  src: url(../avenir/Avenir-Black.otf);
}
@font-face {
  font-family: AvenirRoman;
  src: url(../avenir/Avenir-Roman.otf);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.header-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 12px;
}
.header-list li {
    margin: 0 10px;
    font-size: 13.5px;
}

.header-list a {
  text-decoration: none;
  color: #0f8db4;
  font-family: 'AvenirHeavy';
}

.header-list button {
    background: #0f8db4;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
    font-family: 'AvenirBlack';
}
.header-search {
    width: 25%;
    position: relative;
    display: flex;
    padding: 0 15px;
}

.header-search .searchTerm {
    width: 100%;
    border: 2px solid #0f8db4;
    border-right: none;
    padding: 5px 15px;
    height: 44px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0f8db4;
    font-size: 11px;
    font-family: 'AvenirRoman';
}
.header ::placeholder {
    color: #0f8db4;
    font-weight: bold;
    font-family: 'AvenirRoman';
}
.header .searchTerm:focus{
    color: #00B4CC;
}
.header-search .searchButton {
    width: 55px;
    height: 44px;
    border: 2px solid #0f8db4;
    border-left: none;
    background: white;
    text-align: center;
    color: #0f8db4;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 18px;
}
.header-language {
  padding: 20px;
}
.selectpicker {
  padding: 10px;
  color: #0f8db4;
  border: none;
  outline: none;
  font-size: 12px;
  font-family: 'AvenirHeavy';
  -webkit-appearance: none;
  -moz-appearance: none;
}

